:root{
	--border: thin solid lightgray;
	--border-radius: 5px;
	--shadow: 0 2px 5px darkgray;
}

body {
	display: grid;
	margin: 0;
	padding: 0;
}
* {
	font-family: Helvetica, serif;
	font-size: medium;
	transition: 0.1s;
}
p{
	cursor: default;
}

table { border-collapse: collapse; }
table > tbody > tr:nth-child(even){ background: whitesmoke }
table th, table td { padding: 5px }
table th {
	background: skyblue;
	color:white;
	border-right:  3px solid white;
	border-left:   3px solid white;
	border-bottom: 1px solid white;
}
table > thead > tr:nth-child(odd) > th{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
table td {
	text-align: center;
	border-left:var(--border)
}

input, select{
	padding: 5px;
	margin: 5px;
}
input, select, .input{
	cursor: pointer;
	border: thin solid gray;
	border-radius: var(--border-radius);
}
input[type=date], input[type=text]{ cursor: text; }

input[type=button]:hover,  input[type=submit]:hover { filter: contrast(75%) }
input[type=button]:active, input[type=submit]:active{ filter: contrast(50%) }

.wrong { outline: 3px solid red }
.unavailable {
	pointer-events: none;
	user-select: none;
	filter: grayscale(0.5) opacity(0.5);
}