:root{
	--border: thin solid lightgray;
	--shadow: 0 0 5px darkgray;
}

body {
	display: grid;
	grid-template-rows: 1fr 200px;
	justify-content: center;
}
* {
	font-family: Helvetica, serif;
	font-size: medium;
	transition: 0.1s;
}
p{
	cursor: default;
}

input{
	cursor: pointer;
	padding: 5px;
	margin: 5px;
	border: thin solid gray;
	border-radius: 3px;
}
input[type=date]{
	cursor: text;
	width: 120px;
	text-align: center;
}

input[type=button]:hover,  input[type=submit]:hover { filter: contrast(75%) }
input[type=button]:active, input[type=submit]:active{ filter: contrast(50%) }

.wrong { outline: 3px solid red }
.unavailable {
	z-index: -1;
	filter: grayscale(0.5) opacity(0.5);
}