body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#parameters-form {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: 1fr 0;
    column-gap: 10px;

    margin: 5px;
    padding: 5px;
    border: 5px solid lightskyblue;
    border-radius: 5px;
    background-color: whitesmoke;
    filter: drop-shadow(0 0 3px darkgray);
}
#parameters-form .field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#parameters-form .submit-button {
    grid-column-start: 4;
    justify-self: end;

    font-size: large;
    height: 30px;
    border: 2px solid lightskyblue;
    border-radius: 5px;
}